@import "reset";

@import "variables";

// Third Party Libraries
@import url('https://fonts.googleapis.com/css?family=Countryside');

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, html {
    color:rgb(50,50,50);
    background: white;  /* fallback for old browsers */
    margin:0;
    padding:0px;
}

header, h1, h2, h3, h4, h5 {
    font-family: 'Raleway', Arial, sans-serif;
}

@import "header";
@import "body";
@import "footer";
@import "spinner";