@import "reset";

@import "variables";

// Third Party Libraries
@import url('https://fonts.googleapis.com/css?family=Oswald');


body, html {
    color:rgb(50,50,50);
    background: white;  /* fallback for old browsers */
    margin:0;
    padding:0;
}

header, h1, h2, h3, h4, h5 {
    font-family: Arial, sans-serif;
}

@import "header";
@import "body";
@import "footer";
@import "spinner";